@model ContosoUniversity_TARpe21.Models.Student

@{
    ViewData["Title"] = "Index";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayFor(Model => Model.FirstMidName)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(Model => Model.FirstMidName)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayFor(Model => Model.LastName)
    </dt>
    dt class="col-sm-2">
    @Html.DisplayNameFor(Model => Model.LastName)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayFor(Model => Model.EnrollmentDate)
    </dt>
    dt class="col-sm-2">
    @Html.DisplayNameFor(Model => Model.EnrollmentDate)
    </dt>
    <dt class="col-sm-2">
        @Html.DisplayFor(Model => Model.Enrollement)
    </dt>
    dt class="col-sm-2">
    @Html.DisplayNameFor(Model => Model.Enrollement)
    </dt>
    <dd class=" col-sm-10">
        <table class="table">
            <tr>
                <th>Course Titel</th>
                <th>Course</th>
            </tr>
            @foreach (var item in Model.Enrollement)
            {
                    
                }
        </table>
    </dd>
    </dl>
</div>